@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/styles/settings/_variables.scss';

.v-btn--square {
  width: calc($button-width + 6px) !important;
  height: calc($button-height + 6px) !important;
}


