<template>
  <v-app-bar app light flat color="#fff">
    <!-- <v-app-bar-nav-icon @click="drawer = !drawer" />
    <v-toolbar-title>{{ $route.name }}</v-toolbar-title>
    <v-spacer /> -->
    <v-btn class="v-btn--square" color="secondary" small shaped @click="drawer = !drawer">
      <v-icon>mdi-menu</v-icon>
    </v-btn>
  </v-app-bar>
</template>
<script>
export default {
  name: 'DefaultBar',
  computed: {
    drawer: {
      get() {
        return this.$store.getters['app/getDrawer'];
      },
      set(value) {
        return this.$store.commit('app/SET_DRAWER', value);
      },
    },
  },
};
</script>
<style lang=""></style>
