<template>
  <!-- <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" permanent> -->
  <v-navigation-drawer color="#fff" v-model="drawer" :mini-variant.sync="drawerMini" fixed app floating>
    <v-list-item class="px-2">
      <v-list-item-avatar>
        <v-img src="https://randomuser.me/api/portraits/men/85.jpg"></v-img>
      </v-list-item-avatar>

      <v-list-item-title>John Leider</v-list-item-title>

      <v-btn icon @click.stop="drawerMini = !drawerMini">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
    </v-list-item>

    <v-list dense>
      <v-list-item v-for="item in items" :key="item.title" link>
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'DefaultView',
  data() {
    return {
      items: [
        { title: 'Home', icon: 'mdi-home-city' },
        { title: 'My Account', icon: 'mdi-account' },
        { title: 'Users', icon: 'mdi-account-group-outline' },
      ],
    };
  },
  computed: {
    drawer: {
      get() {
        return this.$store.getters['app/getDrawer'];
      },
      set(value) {
        return this.$store.commit('app/SET_DRAWER', value);
      },
    },
    drawerMini: {
      get() {
        return this.$store.getters['app/getDrawerMini'];
      },
      set(value) {
        console.log(value);
        return this.$store.commit('app/SET_DRAWER_MINI', value);
      },
    },
  },
};
</script>
