<template>
  <v-main class="content-wrapper">
    <v-container fluid class="mb-5">
      <router-view />
    </v-container>
  </v-main>
</template>
<script>
export default {
  name: 'DefaultView',
};
</script>
<style lang=""></style>
