<template>
  <v-app>
    <router-view />
  </v-app>
</template>

<script>
import '@/styles/styles.scss';
import '@/styles/override.scss';
export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
